@import "src/styles/variables.scss";

.button {
  text-transform: uppercase;
  padding: 0 25px;
  height: 50px;
  border: 3px solid transparent;
  font: {
    family: "Roboto";
    size: 16px;
    weight: 500;
  }
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color $transition-duration, color $transition-duration,
    background-color $transition-duration, box-shadow $transition-duration;
}

.primaryButton {
  @extend .button;
  color: $title-color;
  border-color: $title-color;

  &:hover,
  &:focus {
    color: $white-color;
    box-shadow: inset 180px 0 0 0 $title-color;
  }
}
