@import "src/styles/variables.scss";

.button {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;
  border: 3px solid transparent;
  transition: border-color $transition-duration, color $transition-duration,
    background-color $transition-duration, box-shadow $transition-duration;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 24px;
}

.primaryButton {
  @extend .button;
  color: $title-color;
  border-color: $title-color;
  &:hover,
  &:focus {
    color: $white-color;
    box-shadow: inset 150px 0 0 0 $title-color;
  }
}
