@import "variables.scss";

.fontBase {
  line-height: 24px;
  font: {
    family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    weight: 400;
    style: normal;
    size: 16px;
  }
}

.h1 {
  @extend .fontBase;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @media (max-width: $size-sm-max) {
    font-size: 20px;
    line-height: 24px;
  }
}

.p1 {
  @extend .fontBase;
  font-size: 24px;
  line-height: 36px;

  @media (max-width: $size-sm-max) {
    font-size: 20px;
    line-height: 24px;
  }
}

.h2 {
  @extend .fontBase;
  font-weight: 700;
  font-size: 20px;

  @media (max-width: $size-sm-max) {
    font-size: 16px;
  }
}

.p2 {
  @extend .fontBase;
  font-size: 20px;

  @media (max-width: $size-sm-max) {
    font-size: 16px;
  }
}

.h3 {
  @extend .fontBase;
  font-weight: 500;

  @media (max-width: $size-sm-max) {
    font-size: 16px;
    line-height: 16px;
  }
}

.p3 {
  @extend .fontBase;
}

.h4 {
  @extend .fontBase;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.p4 {
  @extend .fontBase;
  font-size: 16px;
  line-height: 16px;
}

.fontButton {
  @extend .fontBase;
  font-weight: 500;
}

.fontTooltip {
  @extend .fontBase;
  font-size: 12px;
  line-height: 14px;
}

.fontLink {
  @extend .fontBase;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.fontTable {
  @extend .fontBase;
  font-size: 14px;
  line-height: 16px;
}
